[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=jot
Group=www-data
WorkingDirectory=/home/jot/
ExecStart=/home/jot/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/jot/ineuron/ineuron.sock ineuron.wsgi:application

[Install]
WantedBy=multi-user.target